In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
# Load sample data
data = {'Name': ['Alice', 'Bob', None, 'David' ,'Jhon' , 'Leo'],
        'Age': [24, 27, 22, None , '31'  , None],
        'Salary': [50000, 60000, 55000, 45000 , None , 75000]}
df = pd.DataFrame(data)
df.head()

    Name   Age   Salary
0  Alice    24  50000.0
1    Bob    27  60000.0
2   None    22  55000.0
3  David  None  45000.0
4   Jhon    31      NaN

In [3]:
# Drop rows with missing values
df_clean = df.dropna()

# Calculate average salary
avg_salary = df_clean['Salary'].mean()

print("Cleaned Data:")
print(f"{df_clean} \n ")
print(f"Average Salary: {avg_salary}")

Cleaned Data:
    Name Age   Salary
0  Alice  24  50000.0
1    Bob  27  60000.0

Average Salary: 55000.0

**File Handling**

In [4]:
# Save DataFrame to a CSV file
df_clean.to_csv('clean_data.csv' , index = False)

In [5]:
# Load the saved CSV file
load_df = pd.read_csv('clean_data.csv')
print("Loaded Data:")
print(load_df)

Loaded Data:
    Name  Age   Salary
0  Alice   24  50000.0
1    Bob   27  60000.0